 
 #form {position: absolute;
         
        width: 600px; 
        height: 450px;
	border:20px inset #5d738b;
	padding:25px;
        top: 20%;
        left: 30%;
 }
 #form h2 {
     font-family: arial;
     color: #528B8B;
     font-size: 20pt;
 }
 #form button {
     color: #98F5FF;
     background-color: #68838B;
     border-color:  #ffffff;
 }