
h1{
    font-family: Open Sans;
    color: Blue;
}

#topo {
    position: absolute;
    top: 2%;
    left: 25%;
    width: 50%;
    height: 13.6%; 
    border-left: 1px solid #E0EEEE;
    border-right: 1px solid #E0EEEE;
    border-bottom: 1px solid #E0EEEE;
    background-color: #E0EEEE;
    text-align: center;
    border-radius: 3%;
}

#ilustra{
    position: absolute;
    top: 18%;
    left: 30%;
    width: 40%;
    height: 14.6%;
    background-color: #E0EEEE;
    border-left: 1px solid #E0EEEE;
    border-right: 1px solid #E0EEEE;
    border-bottom: 1px solid #E0EEEE;
    border-top: 1px solid #E0EEEE;   
    border-radius: 3%;
}

#respostas{
    
    position: absolute;
    top: 77%;
    left: 0%;
    width: 100%;
    height: 40%;
    background-color: #E0EEEE;
    border-left: 1px solid #E0EEEE;
    border-right: 1px solid #E0EEEE;
    border-bottom: 1px solid #E0EEEE;
    border-top: 1px solid blue;
    
    
}


#resposta{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 20%;
    height: 65%;
}

#resposta1{
    position: absolute;
    top: 20%;
    left: 40%;
    width: 20%;
    height: 65%;
}

#resposta2{
    position: absolute;
    top: 20%;
    left: 70%;
    width: 20%;
    height: 65%;
}